.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #22333b;
}
.tittle{
  width: 340px;
  padding: 5px;
  text-align: center;
  font-weight: bolder;
  background-color: #848484;
  color: white;
  font-size: 2em;
  margin: 0 0 20px 0;
}
.tittle--X{
  background-color: #CD493A;

}
.tittle--O{
  background-color: #4392F1;
}
